body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  #crafts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .craft-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    max-width: 300px;
  }
  
  .craft-card img {
    max-width: 100%;
  }
  
  .craft-card h2 {
    margin-top: 0;
  }
  
  .craft-card p {
    margin-top: 0;
  }
  
  .craft-card ul {
    padding-left: 20px;
    margin-top: 5px;
  }
  
  .craft-card li {
    list-style-type: disc;
  }

/* Flex container */
.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-item-left {
    flex: 50%; 
  }
  
  .flex-item-right {
    flex: 50%; 
  }

  /* The Modal */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex; 
  }
  
  /* (Image) */
  .modal-left {
    flex: 1; 
  }

  .modal-right {
    flex: 2; 
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .craft-card {
      max-width: 100%;
    }
    .flex-item-right, 
    .flex-item-left {
      flex: 100%; 
    }
  }

  
  